<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pagina modifica</title>
</head>
<body>
    <h1>Modifica il tuo profilo</h1>
    <form action="{{ url_for('modifica_profilo') }}" method="post">
        <p>Nome: </p>
        <input type="text" id="nome" name="nome"><br>
        <p>Cognome:</p>
        <input type="text" id="cognome" name="cognome"><br>
        <button type="submit">Salva</button><br>
        <a href="{{ url_for('ritorna') }}">torna alla home</a>
</body>
</html>