<!DOCTYPE html>
<html>

<body>
    <h1>Modifica il tuo profilo</h1>
    <form method="post">
        <label>Nome:
            <input type="text" name="nome" value="{{ dati['Nome'] }}" required>
        </label><br><br>
        <label>Cognome:
            <input type="text" name="cognome" value="{{ dati['Cognome'] }}" required>
        </label><br><br>
        <label>Scuola:
            <input type="text" name="scuola" value="{{ dati['Scuola'] }}">
        </label><br><br>
        <label>Hobby:
            <input type="text" name="hobby" value="{{ dati['Hobby'] }}">
        </label><br><br>
        <button type="submit">Salva</button>
    </form>
    <br>

</body>

</html>